h1{
  color:black;
  background-color:blue;
  padding:50px;
  text-align: center
}
.container{
  margin: 10px;
}
button{
  padding:10px;
  margin:4px;
}
input[type="text"] {
  padding:10px;
  margin: 5px;
  border-radius: 3px;
}